﻿@{
    string pdfPath = ViewBag.pdfPath;
    string imgPath = "/imgs/" + ViewBag.imgPath;
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id='crop-select' style="display:flex"></div>
    <button onclick="send_request_extract_data()">Extract information</button>
</div>

<div id="imgs">

</div>
<textarea id="extractionInfo" cols="50" rows="100" style="width:100%; height:100vw"></textarea>
<script>

    window.addEventListener('DOMContentLoaded', (event) => {
        $('#crop-select').CropSelectJs({
            imageSrc: '@imgPath'
        });
        Hide();
    });

    function extractInfo() {
        let ulx = $('#crop-select').CropSelectJs('getSelectionBoxX');
        let uly = $('#crop-select').CropSelectJs('getSelectionBoxY');
        let cropWidth = $('#crop-select').CropSelectJs('getSelectionBoxWidth');
        let cropHeight = $('#crop-select').CropSelectJs('getSelectionBoxHeight');
        let imgWidth = $(".crop-image").width();
        let imgHeight = $(".crop-image").height();
        let DimensionInfo = {
            llXPercent: ulx/imgWidth,
            llYPercent: (uly + cropHeight)/imgHeight,
            urXPercent: (ulx + cropWidth)/imgWidth,
            urYPercent: uly / imgHeight,
            FileName: '@ViewBag.pdfPath'
        };
        return DimensionInfo;
    }
    function drawImgLink(imgs) {
            let ul = document.querySelector("#imgs");
            ul.innerHTML = "";
        imgs.forEach(i => {
            let a = document.createElement("a");
            a.textContent = i;
            a.href = "/imgs/" + i;
            ul.appendChild(a);
        })
    }
    function send_request_extract_data() {

        var result = extractInfo();

    var postData = result;

    $.ajax({
        url: '/Home/ExtractPdf',
        data: JSON.stringify(postData),
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        beforeSend: function () {
            Show();
        },
        success: function (result) {
            console.log(result);
            $("#extractionInfo").val(JSON.stringify(result,undefined, 4));
            if (result.imgs)
            drawImgLink(result.imgs);
        },
        complete: function () {
            Hide();
        },
        failure: function (jqXHR, textStatus, errorThrown) {
            alert("Status: " + jqXHR.status + "; Error: " + jqXHR.responseText); // Display error message
        }
    });
    }
    function Show() {
        $('#loader').show();
    }

    function Hide() {
        $('#loader').hide();
    }
</script>